/* 13. BREADCRUMBS */

.breadcrumbs {
  background: none repeat scroll 0 0 #f5f5f5;
  font-size: 14px;
  padding: 6px 0px;
}
.breadcrumbs ul {
  margin: 0px 0px 0px 15px;
  padding: 0px;
}
.breadcrumbs li {
  display: inline;
}
.breadcrumbs a {
  color: #666;
}
.breadcrumbs strong {
  color: #333;
  font-weight: 900;
}
.breadcrumbs span {
  color: #ccc;
  display: inline-block;
  font-size: 14px;
  margin: 0 5px;
}
/* 21. Product View */


#etalage .moreview_thumb {
  cursor: move;
}
#moreview .moreview_small_thumbs li {
  margin: 10px;
  margin-bottom: 13px !important;
  cursor: pointer;
}
#moreview .moreview_magnifier {
  border: 1px solid #bbb;
}
#moreview .moreview_hint {
  width: 130px;
  height: 57px;
}
#moreview .moreview_description {
  font-style: italic;
  margin: 10px;
  padding: 6px 10px;
}
.moreview, .moreview_thumb, .moreview_thumb_image, .moreview_source_image, .moreview_zoom_preview, .moreview_icon, .moreview_hint {
  display: none
}
.moreview, .moreview ul, .moreview li, .moreview img, .moreview_hint, .moreview_icon, .moreview_description {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none
}
.moreview, .moreview_magnifier div, .moreview_magnifier div img, .moreview_small_thumbs ul, ul .moreview_small_thumbs li, .moreview_zoom_area div, .moreview_zoom_img {
  position: relative
}
.moreview img, .moreview li {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-drag: none;
  user-drag: none
}
.moreview, .moreview_small_thumbs li {
  float: left
}
.moreview_right {
  float: right
}
.moreview li {
  position: absolute
}
.moreview img {
  vertical-align: bottom;
  max-width: none
}
.moreview_magnifier {
  cursor: default
}
.moreview_magnifier div, .moreview_small_thumbs {
  overflow: hidden
}
.moreview_magnifier div img {
  display: none
}
.moreview_icon, .moreview_hint {
  cursor: default;
  width: 0;
  height: 0;
  overflow: hidden
}
.moreview_small_thumbs li.vertical {
  float: none
}
.moreview_zoom_area {
  z-index: 2
}
.moreview_zoom_area div {
  overflow: hidden;
  z-index: 997
}
.moreview_zoom_preview {
  position: absolute;
  z-index: 998
}
.moreview_zoom_img, .moreview_hint {
  z-index: 999
}
.moreview {
  direction: ltr
}
div.moreview_description {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 999
}
div.moreview_description.rtl {
  direction: rtl;
  text-align: right
}
.moreview-control a {
  left: auto;
  width: 26px;
  height: 26px;
  background-color: transparent;
}
.product-view .product-img-box .moreview-control {
  opacity: 0;
}
.product-view .product-img-box:hover .moreview-control {
  opacity: 1;
  transition: all 0.3s linear;
}
.moreview-control a.moreview-prev {
  position: absolute;
  left: 10%;
  background-color: #fff;
  border: 1px #ddd solid;
  text-align: center;
  color: #333;
}
.moreview-control a.moreview-prev:hover {
  background-color: #333;
  border: 1px #333 solid;
  color: #fff;
  transition: all 0.3s linear;
}
.moreview-control a.moreview-prev:before {
  content: "\f106";
  font-family: FontAwesome;
  font-size: 18px;
}
.moreview-control a.moreview-next {
  position: absolute;
  left: 10%;
  background-color: #fff;
  border: 1px #ddd solid;
  text-align: center;
  color: #333;
  bottom: 0%;
}
.moreview-control a.moreview-next:hover {
  background-color: #333;
  border: 1px #333 solid;
  color: #fff;
  transition: all 0.3s linear;
}
.moreview-control a.moreview-next:before {
  content: "\f107";
  font-family: FontAwesome;
  font-size: 18px;
}
.moreview .roll-over {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #888;
  text-indent: 20px;
}
.moreview .roll-over .roll-over-desc {
  margin-left: 20px;
}
#moreview .moreview_thumb, #moreview .moreview_small_thumb {
  border: solid 1px #e0e0e0;
}
.product-view .product-img-box {
  margin-bottom: 10px;
  position: relative;
}
.product-view .product-img-box .product-image {
  margin: 0 0 13px;
}
/* 21a. Product Images */


.product-view .new-label {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  background: #ffc60a;
  text-transform: uppercase;
  padding: 0px;
  text-align: center;
  display: block;
  position: absolute;
  top: 0px;
  z-index: 10000;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: normal;
  width: 45px;
  height: 25px;
  line-height: 25px;
  left: 15px;
}
.product-view {
  margin: auto;
  position: relative;
  z-index: 0;
}
.product-essential {
  overflow: hidden;
}
.product-collateral .box-collateral {
  margin: 0 0 15px;
}
.product-essential .product-image.no-gallery {
  margin-left: auto;
}
.product-essential .product-image img {
  height: auto;
  width: 100%;
}
.product-essential .button-viewall {
  position: absolute;
  left: 5px;
  bottom: 5px;
  text-indent: -999em;
  z-index: 9999;
}
.largeImg_wrap {
  margin: 0 0px 0 105px;
}
/* 21b. More Views Slider */
.more-views {
  margin: auto;
  position: absolute;
  width: 105px;
  height: 100%;
}
.more-views img {
  width: 100%;
}
.more-views .slider-items-products .owl-buttons .owl-next {
  position: absolute;
  right: -30px;
  top: 50%;
}
.more-views .slider-items-products .owl-buttons a {
  border: none;
  background: #f5f5f5;
}
.more-views .slider-items-products .owl-buttons a:hover {
  border: none;
  background: #ad0800;
}
.more-views .slider-items-products .owl-buttons .owl-next a:before {
  font-size: 24px;
}
.more-views .slider-items-products .owl-buttons .owl-prev a:before {
  font-size: 24px;
}
.more-views .slider-items-products .owl-buttons .owl-prev {
  left: -32px;
  position: absolute;
  top: 50%;
  background: none;
}
/* 21c. Product Shop */

.product-view .product-shop .add-to-box button.button.btn-cart span {
  background: none;
  margin-left: 5px;
  font-size: 16px;
}
.product-view .product-options-bottom button.button.btn-cart span {
  background: none;
  margin-left: 5px;
}
.product-view .product-shop {
  margin-top: 0;
  position: relative;
}
.product-view .product-name {
  border-bottom: 1px #ddd dashed;
}
.product-view .product-name h1 {
  font-size: 32px;
  margin: 0 0 2px;
  text-align: left;
  line-height: 1.2em;
  padding-bottom: 12px;
  letter-spacing: -1px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}
.product-view .short-description {
  padding-bottom: 0px;
  font-size: 14px;
}
.product-view .short-description h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #333;
  margin-bottom: 5px;
  font-weight: bold;
  display: none;
}
.product-view .product-shop .add-to-box {
  padding: 0px;
  overflow: hidden;
  text-align: center;
  margin: 0px;
}
.product-view .product-shop .add-to-box a:hover {
  text-decoration: none;
}
.product-view .product-shop .add-to-box .btn-cart {
  background: #18a4d8;
  color: #fff;
  font-size: 16px;
  text-shadow: none;
  padding: 10px 15px;
  float: left;
  margin-top: 0px;
  font-weight: normal;
  transition: color 300ms ease-in-out 0s, background-color 300ms ease-in-out 0s, background-position 300ms ease-in-out 0s;
  margin-left: 10px;
  border: none;
}
.product-view .product-shop .add-to-box .btn-cart:hover {
  background: #000;
  text-shadow: none;
  color: #fff;
}
.product-view .product-shop .product-options-bottom .btn-cart {
  background: #ad0800;
  color: #fff;
  font-size: 16px;
  text-shadow: none;
  padding: 10px 20px;
  float: left;
  margin-top: 0px;
  font-weight: normal;
  transition: color 300ms ease-in-out 0s, background-color 300ms ease-in-out 0s, background-position 300ms ease-in-out 0s;
  margin-left: 10px;
  border: none;
}
.product-view .product-shop .product-options-bottom .btn-cart:hover {
  background: #000;
  text-shadow: none;
  color: #fff;
}
.product-view .product-shop .add-to-box .icon-basket {
  margin-right: 5px;
}
.product-view .product-shop ul.add-to-links {
  margin: 0;
  padding: 0;
  margin-top: 0px;
  display: inline-block;
}
.product-view .product-shop .add-to-links li {
  display: inline-block;
  padding: 0 5px 0 2px;
}
.product-view .product-shop .add-to-links li .separator {
  display: none;
}
.product-view .product-shop .add-to-links .link-wishlist:before {
  content: "\f004";
  font-family: FontAwesome;
  font-size: 14px;
}
.product-view .product-shop .add-to-links .link-wishlist {
  color: #000;
  height: 40px;
  margin-right: 0px;
  padding: 12px 0px 12px 0;
  text-align: center;
  transition: color 300ms ease-in-out 0s, background-color 300ms ease-in-out 0s, background-position 300ms ease-in-out 0s;
  width: 40px;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 11px
}
.product-view .product-shop .add-to-links .link-wishlist:hover {
  padding: 12px 0px 12px 0;
  height: 40px;
  width: 40px;
  color: #ad0800;
  text-align: center;
}
.product-view .product-shop .add-to-links .link-compare:before {
  content: "\f012";
  font-family: FontAwesome;
  font-size: 15px;
}
.product-view .product-shop .add-to-links .link-compare {
  color: #000;
  height: 30px;
  padding: 4px 2px 6px;
  text-align: center;
  transition: color 300ms ease-in-out 0s, background-color 300ms ease-in-out 0s, background-position 300ms ease-in-out 0s;
  line-height: 30px;
  background-color: #fff;
  border: none;
  width: auto;
}
.product-view .product-shop .add-to-links .link-compare:hover {
  color: #ad0800;
  text-align: center;
  padding: 4px 2px 6px;
  height: 30px;
  line-height: 30px;
  background: none
}
.product-view .product-shop ul.add-to-links a {
  padding: 0;
  margin: 0;
}
.email-addto-box {
  display: inline-block;
  margin-top: 10px;
  float: left;
}
.email-friend {
  font-size: 14px;
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 5px;
  display: inline-block;
}
.email-friend a:before {
  content: "\f0e0";
  font-family: FontAwesome;
  font-size: 14px;
  margin-right: 7px;
}
.email-friend a {
  padding: 13px 5px 10px;
  height: 42px;
  width: 42px;
  color: #000;
  text-align: center;
  transition: color 300ms ease-in-out 0s, background-color 300ms ease-in-out 0s, background-position 300ms ease-in-out 0s;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  padding-right: 0px;
}
.email-friend a:hover {
  color: #ad0800;
  text-align: center;
}
.product-view .product-shop .ratings {
  padding: 15px 0;
  margin: 0;
  border-bottom: 1px #ddd dashed;
  margin-bottom: 15px;
}
.product-view .product-shop .ratings .rating-links {
  margin-bottom: 12px;
  display: inline;
}
.product-view .product-shop .no-rating {
  padding: 12px 0;
  margin: 0px 0 0;
}
.product-view .product-shop .price-box {
  border-bottom: 1px #ddd dashed;
  display: block;
  margin: 0 0 10px;
  padding: 0 0 5px;
}
.product-view .product-shop .grouped-items-table .price-box {
  border-bottom: 0px solid #ddd;
  margin: 0;
  padding: 0;
}
.product-view .product-shop .price-box .old-price {
  margin-right: 5px;
  margin-top: 0;
  display: inline-block;
}
.product-view .product-shop .special-price {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.product-view .product-shop .old-price .price {
  font-size: 20px;
  color: #777;
}
.product-view .product-shop .price {
  font-size: 22px;
  color: #ff0000;
  font-weight: bold;
}
.add-to-cart .qty, .qty-holder .qty {
  background-color: #FFFFFF;
  border: 1px solid #E0E0E0;
  border-radius: 2px;
}
.product-shop .button-up, .product-shop .button-down {
  height: 44px;
  width: 44px;
}
.add-to-cart .button-up, .add-to-cart .button-down {
  left: 94px;
  position: absolute;
}
.button-up:hover {
  background: #333 url(../images/icon_arrow_up.png) no-repeat 15px 15px;
}
.button-down:hover {
  background: #333 url(../images/icon_arrow_down.png) no-repeat 15px 15px;
}
.button-up, .button-down {
  height: 44px;
  text-indent: -999em;
  width: 35px;
  border: none;
}
.qty-input-text {
  float: left;
  margin-left: 10px;
}
.product-view .product-shop .add-to-box .add-to-cart label {
  display: block;
  float: none;
  margin-bottom: 0px;
  text-align: left;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  line-height: 30px;
}
.product-view .product-shop .product-options-bottom .add-to-cart label {
  display: block;
  float: none;
  margin-bottom: 5px;
  text-align: left;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
}
.button-up:hover, .button-up:focus {
  background-image: url(../images/icon_arrow_up.png);
  background-position: 16px 16px;
}
.button-down:hover, .button-down:focus {
  background-image: url(../images/icon_arrow_down.png);
  background-position: 16px 16px;
}
.product-view .product-shop button.button.btn-cart:before {
  content: "\f07a";
  font-family: 'FontAwesome';
}
/* 21d. Product Collatera */


.product-collateral {
  padding: 0px;
  background-color: #FFFFFF;
  margin-bottom: 5px;
  width: 100%;
  overflow: hidden;
  margin-top: 20px;
  display: inline-block;
}
.addtional-info {
}
.product-tabs {
  margin-bottom: 10px;
  width: 565px;
}
#product-tabs {
  margin: 0;
  padding: 0;
  position: relative;
  border-radius: 2px;
}
#product-tabs > dt {
  text-transform: none;
  font-size: 14px;
  padding: 8px 0px;
  cursor: pointer;
  color: #102343;
  text-transform: none;
  font-family: Arial, Helvetica, sans-serif;
}
#product-tabs > dt.open {
  position: relative;
  background-color: #fff;
  z-index: 10;
  color: #2CA2E3;
}
#product-tabs > dd {
  display: none;
  right: 0;
  top: 0;
  background-color: #fff;
  margin: 0;
  padding: 6px 0;
  line-height: 1.8;
  border-bottom-width: 0;
  font-size: 14px;
}
#product-tabs > dd h2 {
  display: none;
}
#customer-reviews {
  margin-top: 15px;
}
#customer-reviews .detail {
  font-size: 14px;
  line-height: 18px;
}
#customer-reviews h3 {
  font-size: 14px;
  font-weight: 900;
  margin-bottom: 15px;
}
#customer-reviews h4 {
  display: inline;
  font-size: 14px;
}
#customer-reviews h5 {
  display: inline;
  font-size: 14px;
}
.box-reviews dl {
  margin-bottom: 0;
}
.box-reviews dt {
  font-size: 18px;
  padding: 20px 0 10px;
}
#customer-reviews .page-title {
  border: none;
}
#customer-reviews .page-title h2 {
  color: #000;
  font-size: 20px;
  font-weight: normal;
  margin-top: 0;
  padding: 2px 0px;
  position: relative;
  display: block;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px
}
.box-reviews1 {
  margin-top: 8px;
  margin-bottom: 20px;
}
.box-reviews2 {
  margin-top: 8px;
  margin-bottom: 35px;
  overflow: hidden;
}
.review-title {
  margin-top: 0;
  line-height: 1.4;
  padding-bottom: 15px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
}
.review-title span {
  font-size: 14px;
  font-weight: 400;
  margin-top: 5px;
}
.box-reviews > .rating-box {
  position: absolute;
  top: 30px;
  right: 30px;
}
.box-reviews dd {
  margin-left: 0;
  padding-bottom: 20px;
}
.box-reviews .author {
  font-style: italic;
  font-size: 14px;
  font-weight: bold;
  margin-right: 5px;
}
.box-reviews .date {
  color: #bdbdbd;
  font-size: 14px;
  font-style: italic;
}
.box-reviews .ratings-table {
  float: left;
  margin: 5px 15px 15px 0;
  width: 12%;
}
.box-reviews .review {
  border-left: 1px solid #DFDFDF;
  float: left;
  padding-left: 2.5em;
  width: 84%;
}
.box-reviews .review .review-txt {
  border-bottom: 1px solid #DFDFDF;
  padding-bottom: 12px;
  margin-bottom: 10px;
}
.box-reviews ul li h6 {
  font-size: 15px;
  margin-bottom: 3px;
  padding: 0;
}
.box-reviews2 ul li {
  margin-bottom: 0px;
  clear: both;
}
.box-reviews .actions {
  padding-top: 1.5em;
  text-align: right;
  float: right;
}
#customer-reviews .form-list li label {
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}
#customer-reviews .buttons-set {
  margin-top: 10px;
}
a.button.view-all:before {
  content: "\f06e";
  font-family: FontAwesome;
  font-size: 14px;
  padding-right: 8px;
}
a.button.view-all {
  display: inline-block;
  border: 0;
  background: #fff;
  font-size: 14px;
  text-align: center;
  white-space: nowrap;
  color: #333;
  font-weight: bold;
  transition: all 0.3s linear;
  vertical-align: top;
  border: 1px solid #ddd;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
}
.button.view-all:hover {
  background: #ad0800;
  transition: all 0.3s linear;
  border: 1px solid #ad0800;
  color: #fff;
  text-decoration: none;
}
.box-reviews .form-add h3 {
  margin-bottom: 5px;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
}
.box-reviews .form-add h4 {
  font-size: 15px;
}
.box-reviews textarea {
  width: 95%;
  margin-top: 4px;
  height: 8em;
  background: #f0f0f0;
}
.box-reviews .form-list input.input-text {
  width: 80%;
  padding: 8px 10px;
  margin-bottom: 4px;
  line-height: 20px;
  background: #f0f0f0;
  border: 1px solid #f0f0f0;
  box-shadow: 0 0 0px rgba(0, 0, 0, 0.1) inset;
}
.box-reviews .form-list input.input-text:focus {
  width: 80%;
  padding: 8px 10px;
  margin-bottom: 4px;
  line-height: 20px;
  background: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 0 0px rgba(0, 0, 0, 0.1) inset;
}
.box-reviews .form-list select {
  padding: 12px 15px 12px 165px;
  margin: 0;
  width: 100%;
  line-height: 20px;
  height: 48px;
}
.review1 {
  display: inline-block;
  width: 45%;
  float: left;
}
.review2 {
  display: inline-block;
  width: 55%;
}
.product-view .box-tags .form-add input.input-text {
  width: 350px;
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  border-radius: 2px;
  box-shadow: 0 1px 5px #eee inset;
  margin-right: 10px;
  padding: 8px;
}
.up-sell-box {
  border: 1px #ddd solid;
  border-top: none;
}
.up-sell-box p.desc {
  margin: 0;
  padding: 10px 10px 0 10px
}
.featured-products {
  position: relative;
}
.product-view .box-tags .form-add label {
  line-height: 42px;
  font-size: 16px;
}
.product-view .box-tags .form-add .button {
  height: 35px;
}
#addTagForm {
  margin-bottom: 5px;
  margin-top: 10px
}
.product-view .box-up-sell {
  margin-top: 10px;
  float: left;
}
.product-view .box-up-sell .subtitle {
  margin-right: 0;
}
.mini-products-list .price-box * {
  display: inline;
}
.mini-products-list .price-box .price {
  margin-right: 10px;
}
/* 21e. Product Tabs */
.product-tabs {
  line-height: normal;
  margin: 0;
  outline: none;
  padding: 0;
  position: relative;
  z-index: 1;
  background-color: #fff;
  width: 100%;
  border-bottom: 2px solid #e5e5e5;
  margin-top: 0px;
  height: 35px;
  text-align: left;
}
.product-tabs li {
  display: inline-block;
  height: auto;
  line-height: normal;
  margin: 0;
  outline: none;
  padding: 0;
  list-style: none;
}
.product-tabs li.active {
  background: none;
}
.product-tabs li.active a {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  padding: 10px 12px;
  border: none;
  border-bottom: 2px solid #ad0800;
}
.product-tabs li.active a:hover {
  background: none repeat scroll 0 0 #ad0800;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  padding: 10px 12px;
  border: none;
  border-bottom: 2px solid #ad0800;
}
.nav-tabs.product-tabs > li > a {
  margin-right: 0px;
  line-height: 1.42857143;
  border-radius: 0px;
  border: none;
  padding: 10px 12px;
  letter-spacing: 0.5px;
}
.nav-tabs.product-tabs > li > a:hover {
  margin-right: 0px;
  border: none;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  padding: 10px 12px;
  margin-right: 0px;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  border: none;
  border-bottom: 2px solid #ad0800;
  background: #ad0800;
  color: #fff;
}
.tab-content {
  margin-bottom: 30px;
  margin-top: 15px;
}
.product-tabs a {
  display: inline-block;
  font-size: 14px;
  height: 35px;
  line-height: 35px;
  text-transform: uppercase;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  height: 35px;
  padding: 12px;
}
.tab-content > .active {
  margin-top: 15px;
}
.box-reviews dd, .review-title {
  border-bottom: 1px solid #ccc;
}
#product-tabs > dt {
  border-bottom: 1px solid #ccc;
}
#product-tabs > dd {
  border-left: 0px solid #ccc;
  border-bottom: 3px solid #e5e5e5;
}
.table-responsive fieldset {
  border-left: 2px #eaeaea solid;
  border-right: 2px #eaeaea solid;
}
.my-wishlist .table-responsive fieldset {
  border: 0px;
}
.multiple_addresses .table-responsive fieldset {
  border: 0px;
}
fieldset {
  border: 0 none;
  margin: 0;
  padding: 0;
}
#product-review-table {
  margin: 10px 0;
  border: medium none;
  width: 100%;
}
#product-review-table th, #product-review-table td {
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  padding: 8px;
}
.nobr {
  white-space: nowrap;
}
.form-add-tags input.input-text, select, textarea {
  border: 1px solid #ddd;
  margin-top: 0;
  padding: 6px;
}
.form-add-tags input.input-text:focus, .form-add-tags select:focus, .form-add-tags textarea:focus {
  padding: 6px;
}
.additional p {
  font-size: 12px
}
.product-options dt label, .box-reviews dt, .data-table, .fraction-slider .slide-subtitle {
  font-family: Arial, Helvetica, sans-serif;
}
.specs-table {
  margin-top: 5px;
}
.specs-table dt {
  float: left;
  font-weight: bold;
  padding: 0 3px 3px 0;
  width: 60px;
}
.specs-table dd {
  padding: 0 0 0px 90px;
}
.data-table {
  border: 2px solid #eaeaea;
  border-spacing: 0;
  text-align: left;
}
.data-table thead tr, .data-table tfoot tr {
  background-color: #f7f7f7;
}
#product-attribute-specs-table.data-table {
  border: 1px solid #EAEAEA;
  border-bottom: none;
  margin-top: 5px;
}
#product-attribute-specs-table.data-table tbody th, .data-table tbody td {
}
#product-attribute-specs-table.data-table tbody th.last, .data-table tbody td.last {
}
#product-attribute-specs-table.data-table tbody th.last, .data-table tbody td.last a {
  text-decoration: underline;
}
.form-add-tags label {
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 5px;
}
.form-add-tags button.button {
  display: inline;
  background: #fff;
  padding: 6px 15px 6px 12px;
}
.form-add-tags button.button:hover {
  background: #f23534;
  transition: all 0.3s linear;
  color: #fff;
  border: 1px #f23534 solid;
}
.data-table thead th, .data-table thead td, .data-table tfoot th, .data-table tfoot td, .cart .totals table th, .cart .totals table td {
  color: #333;
  border-top: 2px solid #eaeaea;
  border-bottom: 2px solid #eaeaea;
  font-family: Arial, Helvetica, sans-serif;
}
.data-table tbody th, .data-table tbody td {
  border-bottom: 1px solid #eaeaea;
  padding: 10px 10px 6px;
}
.cart-table tbody th, .cart-table tbody td {
  border-bottom: 1px solid #eaeaea;
  vertical-align: middle;
}
.cart-table tbody th h2, .cart-table tbody td h2 {
  margin: auto;
  padding: 0px;
  display: inline-flex;
}
.data-table .price {
  font-size: 14px;
  font-weight: normal;
  color: #f23534
}
.item-options dd {
  color: #565656;
  margin: 0;
}
.compare-table th {
  color: #565656;
}
.compare-table tr.odd th {
  background-color: #ececec;
}
.compare-table tr.even th {
  background-color: #e5e5e5;
}
.compare-table tr.even td {
  background-color: #f7f7f7;
}
.my-account .data-table .price, .my-wishlist .data-table .price {
  font-size: 14px;
  color: #ff0000;
  font-weight: 600;
}
.box-reviews .form-list li {
  margin-bottom: 0px;
  list-style: none;
}
#customer-reviews li {
  margin-bottom: 0px;
  list-style: none;
}
#customer-reviews ul {
  margin: auto;
  padding: 0px;
}
.recent-orders .title-buttons {
  text-align: right;
  margin-bottom: 8px;
}
.recent-orders .title-buttons strong {
  float: left;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 14px;
  color: #333;
}
/* Product Options */
.product-options {
  padding: 0;
  margin: 0;
  clear: both;
}
.product-options dt {
  margin-top: 20px;
}
.product-options dt label {
  font-weight: normal;
  font-size: 15px;
}
.product-options dt label em {
  margin-right: 3px;
}
.product-options dt .qty-holder {
  float: right;
}
.product-options dt .qty-holder label {
  vertical-align: middle;
}
.product-options dt .qty-disabled {
  background: none;
  border: 0;
  padding: 3px;
  color: #000;
}
.product-options dd {
  margin: 10px 0;
}
.product-options dl {
  margin: 5px 0;
}
.product-options dl.last dd.last {
}
.product-options dd input.datetime-picker {
  width: 150px;
}
.product-options dd .time-picker {
  display: -moz-inline-box;
  display: inline-block;
  padding: 2px 0;
  vertical-align: middle;
}
.product-options .options-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.product-options .options-list li {
  margin: 12px 0;
}
.product-options .options-list input.radio {
  margin: -2px 0 0 0;
}
.product-options .options-list input.checkbox {
  margin: -2px 0 0 0;
}
.product-options .options-list .label {
  display: inline;
  margin-left: 0;
  padding: 0;
}
.product-options ul.validation-failed {
  padding: 0 7px;
}
.product-options p.required {
  padding: 0;
  display: none;
}
.product-options label {
  display: inline;
  margin-bottom: 0;
  line-height: 17px;
}
.product-options .qty-holder {
  display: block;
  margin: 8px 0;
}
.product-options .label, .product-options .badge {
  background-color: transparent;
  text-shadow: none;
}
.product-options .qty {
  margin-bottom: 0;
  width: 30px;
}
.product-options-bottom {
  padding: 25px 0;
}
.product-options-bottom .price-box {
  margin: 10px 0;
}
/* Grouped Product */
.product-view .grouped-items-table {
  margin-bottom: 15px;
  margin-top: 50px;
  border-bottom: none;
}
/* Block: Description */

.product-view .box-description {
}
/* Block: Additional */

.product-view .box-additional {
}
/* Block: Upsell */

.product-view .box-up-sell {
}
.product-view .box-up-sell .products-grid td {
  width: 25%;
}
/* Block: Tags */

.product-view .box-tags {
}
.product-view .box-tags .form-add label {
  float: left;
  line-height: 33px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif
}
.product-view .box-tags .form-add .input-box {
  float: left;
  margin: 0 0 0 10px;
}
.product-view .box-tags .form-add input.input-text {
  width: 320px;
  outline: none
}
.product-view .box-tags .form-add p {
  clear: both;
}
/* Block: Reviews */

.product-view .box-reviews {
}
.product-view .box-reviews .form-add {
}
/* Send a Friend */

.send-friend {
}
/* Availability, Brand */
/*giam 30*/
.availability, .product-brand {
  margin: 10px 0 8px;
  font-weight: normal;
  font-size: 14px;
  position: absolute;
  right: 15px;
  margin-top: 0px;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-weight: bold
}
#super-product-table input.qty {
  text-align: center;
}
.availability span, .product-brand span {
  font-weight: normal;
}
.availability.in-stock {
  background: #6dbe14;
  color: #fff;
  border-radius: 2px;
  padding: 3px 10px
}
.availability.in-stock span {
  color: #fff;
  font-weight: bold
}
.availability.out-of-stock {
  background: #f23534;
  color: #fff;
  border-radius: 15px;
  padding: 3px 10px
}
.availability.out-of-stock span {
  color: #fff;
  font-weight: bold
}
.availability-only {
  margin: 0 0 7px;
}
.availability-only a {
  cursor: pointer;
  padding-right: 15px;
}
.availability-only .expanded {
  background-position: 100% -15px;
}
.availability-only strong {
}
.availability-only-details {
  margin: 0 0 7px;
}
.availability-only-details th {
  background: #f2f2f2;
  font-size: 14px;
  padding: 0 8px;
}
.availability-only-details td {
  border-bottom: 1px solid #ddd;
  font-size: 14px;
  padding: 2px 8px 1px;
}
.availability-only-details tr.odd td.last {
}
/* Add to Cart */
/*ô dấu + -*/
.add-to-cart label {
  font-family: 'Roboto', sans-serif;
  color: #333;
  font-size: 14px;
  font-weight: bold;
  float: left;
  line-height: 38px;
}
.custom button.items-count {
  border: none;
  clear: both;
  color: #999;
  font-size: 14px;
  line-height: normal;
  padding: 13px 14px 13px 16px;
  text-align: center;
}
.custom button.items-count.increase {
  margin-right: 4px;
  margin-left: 0px;
}
.custom button.items-count.reduced {
  margin-right: 2px;
}
.custom button.items-count {
  background-color: #f5f5f5;
  border: 2px #eaeaea solid;
  transition: color 300ms ease-in-out 0s, background-color 300ms ease-in-out 0s, background-position 300ms ease-in-out 0s;
}
.custom button.items-count:hover {
  background-color: #ad0800;
  border: 2px #ad0800 solid;
  color: #fff;
}
.add-to-cart button.button {
  margin-left: 5px;
}
.add-to-cart .button-up {
  position: absolute;
  left: 200px;
  border-radius: 0;
  top: 0px;
}
.add-to-cart .button-down {
  position: absolute;
  left: 78px;
  border-radius: 0;
  top: 0px;
}
.add-to-cart .button-up {
  outline: none;
  background-color: #fff;
  border: 1px #ddd solid;
}
.add-to-cart .button-down {
  bottom: 0;
  outline: none;
  background-color: #fff;
  border: 1px #ddd solid;
}
.add-to-cart button.btn-cart {
  font-size: 20px;
  padding: 15px 25px;
  margin-left: 15px;
  margin-top: -10px
}
.add-to-cart button.btn-cart.margin-none {
  margin-left: 0;
}
.add-to-cart .paypal-logo {
  clear: left;
  text-align: right;
}
.add-to-cart .paypal-logo .paypal-or {
  clear: both;
  display: block;
  margin: 5px 60px 5px 0;
}
.product-view .add-to-cart .paypal-logo {
  margin: 0;
}
/*ô ở giữa tăng số lượng*/
/*  Add to Links + Add to Cart */
.add-to-box {
  margin: 15px 0 0px;
  overflow: hidden;
  overflow: hidden;
  padding: 15px;
  text-align: center;
}
.add-to-box .add-to-cart, .product-options-bottom .add-to-cart {
  margin: 0px;
  margin-right: 0px;
}
.product-options-bottom .add-to-cart {
  margin-bottom: 0;
}
.add-to-box .or {
  float: left;
  margin: 0 10px;
}
.add-to-box .add-to-links {
  float: left;
  padding: 0;
  margin: 0 0 20px;
  list-style: none;
}
.product-options-bottom .add-to-links {
  float: left;
  padding: 0;
  margin: 0 0 20px;
  list-style: none;
}
.add-to-box .add-to-links li {
  display: block;
  margin: 0;
}
.add-to-links span {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  margin-left: 5px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
.add-to-cart .qty {
  padding: 11px 5px 10px;
  border: 2px #ddd solid;
  text-align: center;
  margin-right: 5px;
  width: 80px;
  font-size: 14px;
  font-weight: bold;
  color: #333;
}
.add-to-cart .qty.input-text:focus {
  border: 2px solid #ddd;
  padding: 11px 5px 10px;
}
/*nut next o ten san pham*/
/*  prev-next-products */

.product-next-prev {
  margin: auto;
}
.product-prev {
  margin: 0 0 0 0px;
  float: right;
}
.product-next-prev .product-prev:before {
  content: "\f104";
  font-family: FontAwesome;
}
.product-next-prev .product-prev {
  background: #f5f5f5;
  font-size: 20px;
  line-height: 26px;
  display: inline-block;
  width: 28px;
  height: 28px;
  color: #333;
  text-align: center;
  transition: color 300ms ease-in-out 0s, background-color 300ms ease-in-out 0s, background-position 300ms ease-in-out 0s;
  border-radius: 0px
}
.product-next-prev .product-prev:hover {
  color: #fff;
  background: #ad0800;
}
.product-next {
  margin: 0 0 0 4px;
  float: right;
}
.product-next-prev .product-next:before {
  content: "\f105";
  font-family: FontAwesome;
}
.product-next-prev .product-next {
  background: #f5f5f5;
  font-size: 20px;
  line-height: 26px;
  display: inline-block;
  width: 28px;
  height: 28px;
  color: #222;
  text-align: center;
  transition: color 300ms ease-in-out 0s, background-color 300ms ease-in-out 0s, background-position 300ms ease-in-out 0s;
}
.product-next-prev .product-next:hover {
  color: #fff;
  background: #ad0800;
  border-radius: 0px
}
.product-view .product-img-box .product-img-list {
  display: block;
  width: 100%;
  float: left;
}
.product-view .product-img-box .product-img-list .more-views-verticle {
  float: left;
  margin: 15px auto 0;
  position: relative;
  width: 90px;
}
.product-view .product-img-box .product-img-list .more-views-verticle .media-list {
  width: 90px;
  height: 340px;
  overflow: hidden;
  margin-top: 10px;
  margin-bottom: 8px;
}
.product-view .product-img-box .product-img-list .more-views-verticle .media-list .verticl-carousel {
  position: relative;
  top: 0;
}
.product-view .product-img-box .product-img-list .more-views-verticle .media-list .verticl-carousel a {
  display: block;
  margin-bottom: 25px;
  border: #dcdcdc solid 1px;
}
.product-view .product-img-box .product-img-list .more-views-verticle .media-list .verticl-carousel a:hover {
  border: #ad0800 solid 1px;
}
.product-view .product-img-box .product-img-list .more-views-verticle .more-views-nav {
  opacity: .65;
  display: block;
  font-size: 20px;
  color: #000000;
  width: 25px;
  height: 25px;
  text-align: center;
  padding: 0;
  border: 1px #ddd solid;
  line-height: normal;
}
.product-view .product-img-box .product-img-list .more-views-verticle .more-views-nav.more-views-next {
  margin: 0px auto 0;
}
.product-view .product-img-box .product-img-list .more-views-verticle .more-views-nav.more-views-prev {
  margin: 0 auto 20px;
}
.product-view .product-img-box .product-img-list .product-image img {
  max-width: 100%;
  max-height: 750px;
  margin: 0px auto;
}
.product-view .product-img-box .product-img-list .product-image .product-image-gallery {
  position: relative;
  border: 1px solid #dcdcdc;
}
.product-view .product-img-box .product-img-list .product-image .product-image-gallery .gallery-image {
  display: none;
}
.product-view .product-img-box .product-img-list .product-image .product-image-gallery .gallery-image.visible {
  display: block;
}
.button.button-clear {
  background-color: #F00;
  border: 1px #f00 solid;
  color: #fff;
}
button.btn-update {
  background-color: #ad0800;
  border: 1px #ad0800 solid;
  color: #fff;
}
.social-detail .social {
  bottom: 0;
  position: relative;
  right: 0;
  z-index: 10;
}
.social-detail .social ul {
  float: left;
  list-style: none outside none;
  margin: 0 0 10px;
  padding: 0;
}
.social-detail .social ul li {
  display: inline-block;
  margin: 0 7px 0 0;
}
