* {
	margin: 0px;
	padding: 0px;
}
body {
	font-family: 'Quicksand', sans-serif!important;
	font-weight: normal;
	font-style: normal;
	color:  #323438;
	font-size: 14px;
}
header {
	width: 100%;
	display: block;
}
header .header-area {
	border-bottom: 1px solid #eaeaea;
}
header .header-area .container-top {
	background: white;
	height: 15px;
	width: 100%;
}
header .header-area .container-top p {
	text-align: center;
	font-size: 14px;
	font-weight: 600;
	color: #ccc;
}
header .header-area .container {
	max-width: 1140px;
	margin: 5px auto;
}
header .header-area .container .flex-item {
	display: flex;
	align-items: center;
}
header .header-area .container .flex-item .logo {
	flex: 3;
}
header .header-area .container .flex-item .contact {
	flex: 4;
}
header .header-area .container .flex-item .logo img {
	max-width: 150px;
}
header .header-area .container .flex-item .contact .flex-contact ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	display: flex;
}
header .header-area .container .flex-item .contact .flex-contact ul li {
	margin-right: 30px;
}
header .header-area .container .flex-item .contact .flex-contact ul li a {
	text-decoration: none;
	font-weight: 600;
	margin-right: 45px;
	color:  #323438;
	font-size: 14px;
	font-family: 'Quicksand', sans-serif!important;
}
header .header-area .container .flex-item .contact .flex-contact ul li a i {
	margin-right: 5px;
}
header .header-area .container .flex-item .contact .cart-search ul {
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}
header .header-area .container .flex-item .cart-search {
	flex: 2;
	margin-left: 240px;
}
header .header-area .container .flex-item .cart-search .flex-contact ul {
	padding: 0px;
	margin: 0px;
	list-style-type: none;
	display: flex;
	line-height: 16px;
}
header .header-area .container .flex-item .cart-search .flex-contact ul li {
	border-right: 1px solid gray;
}
header .header-area .container .flex-item .cart-search .flex-contact ul li:last-child {
	border: 0px;
}
header .header-area .container .flex-item .cart-search .flex-contact ul li a {
	text-decoration: none;
	font-size: 14px;
	font-weight: bolder;
	color: #000;
	font-family: 'Quicksand', sans-serif!important;
	padding: 0px 5px;
}
header .header-area .container .flex-item .cart-search .flex-contact ul li a input {
	font-size:14px;
	max-width: 60px;
	border: 0px;
	outline: none;
}
header .header-area .container .flex-item .cart-search .flex-contact ul li a i {
	margin-right: 5px;
}
header .header-area .container .flex-item .cart-search .flex-contact .accout {
	font-weight: 600;
}
nav {
	width: 100%;
	height: 50px;
	line-height: 40px;
}
nav .container {
	max-width: 1140px;
	margin: auto;
	text-align: center;
}
nav .container ul {
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}
nav .container ul li {
	display: inline-block;
	position: relative;
}
nav .container ul li a:hover {
	text-decoration: underline;
}
nav .container ul li a {
	text-decoration: none;
	font-family: 'Quicksand', sans-serif!important;
	color: #252a2b;
	font-size: 14px;
	font-weight: bolder;
	padding: 0px 10px 0px 10px;
}
nav .container ul li ul.submenu {
	position: absolute;
	left: 0px;
	width: 200px;
	text-align: left;
	background: #fff;
	top: 100%;
	opacity: 0;
	visibility: hidden;
}	
nav .container ul li ul.submenu li {
	display: block;
	border-top: 1px solid #eaeaea;
}
nav .container ul li ul.submenu li a {
	font-family: 'Quicksand', sans-serif!important;
	padding: 10px;
}
nav .container ul li ul.submenu li a:hover {
	text-decoration: underline;
}
nav .container ul li:hover ul.submenu {
	opacity: 1;
	visibility: unset;
	z-index: 11;
}
#category {
	width: 100%;
	display: block;
	
}
#category .category {
	width: 100%;
	
}
#category .category .category-top {
	background: #f5f5f5;
	line-height: 40px;
	display: flex;
}
#category .category .category-top .category-top-left {
	flex: 2;
}
#category .category .category-top .category-top-left ul {
	padding: 0px;
	margin: 0px 0px 0px 50px;
	list-style-type: none;
	display: flex;
}
#category .category .category-top .category-top-left ul li {
	padding-right: 10px;
}
#category .category .category-top .category-top-left ul li.font-bolder {
	font-weight: 600;
}
#category .category .category-top .category-top-left ul li a {
	text-decoration: none;
	color: #000;
}
#category .category .category-top .category-top-left ul li a:hover {
	font-weight: 600;
}
#category .category .category-top .category-top-right {
	flex: 0.3;
}
#category .category .category-top .category-top-right select {
	border: 0px;
	background: transparent;
	outline: none;
	font-family: 'Quicksand', sans-serif!important;
}
#category .category .category-mid {
	width: 100%;
	display: flex;
}
#category .category .category-mid .category-mid-left {
	width: 20%;

}
#category .category .category-mid .category-mid-left h3 {
	margin-top: 50px;
	margin-left: 40px;
}
#category .category .category-mid .category-mid-left ul {
	padding: 0px;
	margin: 10px 0px 10px 40px;
	list-style-type: none;
}
#category .category .category-mid .category-mid-left ul li {
	padding-bottom: 10px;
}
#category .category .category-mid .category-mid-left ul li a {
	text-decoration: none;
	color: #000;
	font-family: 'Quicksand',sans-serif;
}
#category .category .category-mid .category-mid-left ul.list-category li a {
	text-decoration: none;
	color: #000;
	font-size: 14px;
	font-weight: 600;
}
#category .category .category-mid .category-mid-left .input {
	margin-top: 10px;
	margin-left: 40px;
	font-weight: 600;
}
#category .category .category-mid .category-mid-left .input input {
	border: 0px;
	outline: none;
	border: 1px solid #000;
	font-family: 'Quicksand', sans-serif!important;
	text-indent: 5px;
}
#category .category .category-mid .category-mid-right {
	margin-top: 55px;
	width: 80%;
}
#category .category .category-mid .category-mid-right .nav {
	padding-bottom: 40px;
}
#category .category .category-mid .category-mid-right .nav ul {
	padding: 0px;
	margin: 0px;
	list-style-type: none;
	display: flex;
}
#category .category .category-mid .category-mid-right .nav ul li {
	padding-right: 40px;
}
#category .category .category-mid .category-mid-right .nav ul li p {
	margin-top: 3px;
}
#category .category .category-mid .category-mid-right .nav ul li .title a:hover {
	font-weight: 600;
}
#category .category .category-mid .category-mid-right .nav ul li a {
	text-decoration: none;
	color: #000;
}
#category .category .category-mid .category-mid-right .nav ul li a img {
	width: 100%;
}
#category .category .category-mid .category-mid-right .nav ul li a img:hover {
	box-shadow: 5px 5px gray;
	transition: 1s;
}
#category .category .category-bottom {
	width: 100%;
}
#category .category .category-bottom .container {
	max-width: 200px;
	margin: auto;
	text-align: center;
}
#category .category .category-bottom .container ul {
	padding: 0px;
	margin: 0px;list-style-type: none;
	display: flex;
}
#category .category .category-bottom .container ul li {
	width: 25px;
	line-height: 25px;
	margin-right: 20px;
}
#category .category .category-bottom .container ul li a {
	text-decoration: none;
	color: #000;
	font-size: 15px;
}
#category .category .category-bottom .container ul li a:hover {
	font-weight: 600;
}
#category .pr {
	margin-top: 10px;
	height: 40px;
	width: 100%;
}
#category .pr ul {
	padding: 10px 10px;
	margin: 0px;
	list-style-type: none;
}
#category .pr ul li {
	border-bottom: 1px solid #eaeaea;
}
footer {
	margin-top: 30px;
	width: 100%;
	display: block;
}

.footer-top{
	display: flex;
	margin-left: 413px;
}
.text{
	font-weight: bold;
	margin-right: 10px;
}
#footer_id{
	margin-right: 13px;
}
.banner_content{
	display: flex;
}
.banner_chil{
	opacity: 0.5 black; 
	margin-left: 20px;
}
footer .footer-top2 {
	text-align: center;
	margin-top: 32px;
}
footer.footer-top2 h4 {
	font-size: 12px;
	font-weight: bold;
}
footer .footer-top2 input {
	margin-top: 10px;
	border: 0px;
	outline: none;
	border-bottom: 1px solid #000;
	font-size: 14px;
	width: 200px;
	font-family: 'Quicksand', sans-serif!important;
	position: relative;
}
footer .footer-top2 a {
	position: absolute;
	margin-left: -15px;
	color: #000;
	margin-top: 10px;
}

footer .container .footer-mid {
	margin-top: 50px;
}
footer .container .footer-mid ul.text {
	padding: 0px;
	margin: 0px;
	list-style-type: none;
	display: flex;
	margin-left: 350px;
}
footer .container .footer-mid ul.text li {
	border-right: 1px solid #000;
	line-height: 10px;
	padding: 2px 2px;
}
footer .container .footer-mid ul.text li:last-child {
	border: 0px;
}
footer .container .footer-mid ul.text li a {
	text-decoration: none;
	color: #000;
	font-size: 13px;
	font-weight: 600;
}
footer .container .footer-mid ul.icon {
	padding: 0px;
	margin: 0px;
	list-style-type: none;
	display: flex;
	margin-left: 508px;
}
footer .container .footer-mid ul.icon li {
	line-height: 10px;
	padding: 15px 7px;
}
footer .container .footer-mid ul.icon li a {
	text-decoration: none;
	color: #000;
	font-size: 18px;
	font-weight: 600;
}
footer .container .footer-bottom {
	margin-top: 40px;
}
footer .container .footer-bottom p {
	padding-bottom: 15px;
	font-weight: 600;
	font-size: 13px;
	text-align: center;
}