body {
	font-size: 14px;
	background: #fff;
	vertical-align: middle;
	font-family: 'Roboto', sans-serif;
}
a {
	color: #333;
	text-decoration: none;
}
a:hover, a:focus {
	color: #23527c;
	text-decoration: none;
}
ul, ol {
	padding: 0px;
	margin: auto;
	list-style: none;
}
legend {
	display: none;
}

.page {
	position: relative;
	margin: auto;
	background: #fff;
	width: 100%;
}
* {
  margin: 0;
  padding: 0;
}
/* 13. BREADCRUMBS */

.breadcrumbs {
	background: none repeat scroll 0 0 #f5f5f5;
	font-size: 14px;
	padding: 6px 0px;
	margin-top: 20px;
}
.breadcrumbs ul {
	margin: 0px 0px 0px 15px;
	padding: 0px;
}
.breadcrumbs li {
	display: inline;
}
.breadcrumbs a {
	color: #666;
}
.breadcrumbs strong {
	color: #333;
	font-weight: 900;
}
.breadcrumbs span {
	color: #ccc;
	display: inline-block;
	font-size: 14px;
	margin: 0 5px;
}
.content2
  {
  	margin-top: 15px;
  	margin-left: 200px;
  	width: 1100px;
  	  }
 #box{
	position: relative;
}
#box img{width: 1100px;
		height: 300px;
	}
#next, #prev{width: 50px; 
		line-height: 50px; 
		text-align: center;
	    color: white;
		background:  rgba(0,0,0,0.4);
		position: absolute;
		border-radius: 300px;
		}
    #next{ right: 10px; top: 120px; }
     #prev{ left: 10px; top: 120px; }

.main{
	display: flex;
	margin-top: 20px;
}
.main-left{
	margin-left: 180px;
}
.main1{
	width: 270px;
	
	border: 1px solid #e6e6e6;
}
.main1 ul li{
	width: 270px;
	line-height: 30px;
	border-bottom: 2px solid white;
}

.main1 ul {
	list-style: none;
	
	cursor: pointer;
}
.main1 ul li a{
	color: #316663;
	text-decoration: none;
	font-size: 14px;
	margin-bottom: 20px;
	padding-left: 20px;
	font-weight: bold;
}
.main1 ul li:hover{
	border: 1px solid #40bea7;
}
.main1 ul li:hover a{
	padding-left: 30px;
	margin-top: 5px;
}
.main2{
	margin-left: 10px;
	border: 1px solid #40bea7;
	width: 870px;
}
.main-category1{
	display: flex;
}
.main-category1 div{
	margin-right: 5px;
	margin-left: 35px;
}
.trang123{
	margin-left: 330px;
}