/*

*/
body {
	font-size: 14px;
	background: #fff;
	vertical-align: middle;
	font-family: 'Roboto', sans-serif;
}
a {
	color: #333;
	text-decoration: none;
}
a:hover, a:focus {
	color: #23527c;
	text-decoration: none;
}
ul, ol {
	padding: 0px;
	margin: auto;
	list-style: none;
}
legend {
	display: none;
}
/* 2. Layout */
.page {
	position: relative;
	margin: auto;
	background: #fff;
	width: 100%;
}
* {
  margin: 0;
  padding: 0;
}

/*==Style cơ bản cho website==*/
#menu {
  font-family: sans-serif;
  color: #333;
}

/*==Style cho menu===*/
#menu ul {
  background: #1F568B;
  list-style-type: none;
  text-align: center;
}
#menu li {
  color: #f1f1f1;
  display: inline-block;
  width: 120px;
  height: 40px;
  line-height: 40px;
  margin-left: -5px;
}
#menu a {
  text-decoration: none;
  color: #fff;
  display: block;
}
#menu a:hover {
  background: #F1F1F1;
  color: #333;


}

/*==Dropdown Menu==*/
.sub-menu {
  display: none;
  position: absolute;
}
#menu li {
  position: relative;
}
#menu li:hover .sub-menu {
  display: block;
z-index: 100;
}
.sub-menu li {
  margin-left: 0 !important;
}

/*==Menu cấp 3==*/
.sub-menu > ul {
  display: none !mportant;
}
/* 2a. Base Columns */
.col-left {
	margin-bottom: 0px;
}
.col-main {
}
.col-right {
	margin-bottom: 0px;
}
/* 2b. 1 Column Layout */
.col1-layout .header-background-default {
	margin: 20px;
	padding: 0;
}
.col1-layout .col-main {
	float: none;
	width: auto;
}
/* 2c. 2 Columns Layout */
.col2-left-layout .col-main {
}
.col2-right-layout .col-main {
}
.col2-right-layout ol.opc .col-md-4 {
	margin-right: 15px;
}
/* 2d. 3 Columns Layout */
.col3-layout .col-main {
}
.col3-layout .col-wrapper {
	float: left;
	width: 780px;
}
.col3-layout .col-wrapper .col-main {
	float: right;
}
.main-container {
	background-color: #fff;
	min-height: 400px;
	padding: 20px 0 0px;
}
/* 3. Header */
.logo {
	float: left;
}
.header-container {
	background: #fff;
}
.header-container .login {
	float: right;
	margin-top: 28px;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}
.header-container .login a {
	color: #ad0800;
	padding: 0px 0px;
	display: block;
	border-radius: 2px;
	font-weight: bold;
}
.header-container .login {
	float: right;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}
.header-container .or {
	float: right;
	color: #ccc;
	display: block;
	margin-left: 7px;
	margin-right: 7px;
	margin-top: 26px;
	font-family: 'Roboto', sans-serif;
	line-height: 20px;
	font-weight: normal
}
.header-container .signup {
	float: right;
	margin-top: 28px;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}
.header-container .signup a {
	color: #333;
	padding: 0px 0px;
	display: block;
	border-radius: 2px;
	font-weight: bold;
}
.header-top {
	height: 28px;
	background: #f8f8f8;
}
.header .logo {
	vertical-align: middle;
	cursor: pointer;
	margin-top: 15px;
	text-align: left;
	display: block;
	padding-bottom: 15px;
	display: inline-block
}
.header .logo a img {
	cursor: pointer
}
.header-top .welcome-msg {
	text-align: left;
	display: inline-block;
	padding: 0px;
	margin: 4px 0px 0px 15px;
	font-size: 14px;
	color: #a6a6a6;
	font-family: 'Roboto', sans-serif;
}
.header-container .logout {
	float: right;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	margin-top: 28px;
}
.header-container .logout a {
	border-radius: 2px;
	color: #ad0800;
	display: block;
	font-weight: bold;
	padding: 0;
}
/* 3a. language &amp; currency */
.block-language-wrapper {
	display: inline-block !important;
	margin: 5px 0 0 0;
}
.block-language {
	background: none;
	box-shadow: none;
	border: none;
	color: #a6a6a6;
	font-family: DIN, Helvetica, Arial, sans-serif;
}
a.block-language:hover {
	color: #ad0800;
	text-decoration: none;
}
a.block-language:focus {
	color: #ad0800;
	text-decoration: none;
}
.block-language img {
	font-weight: normal;
	padding: 0px 5px 0px 0px;
	margin: auto;
	vertical-align: text-top;
	height: 15px;
}
.block-language-wrapper .dropdown-menu>li {
	border-bottom: 1px #ccc solid;
	padding: 1px 0px 1px 0px;
}
.block-language-wrapper .dropdown-menu>li:last-child {
	border-bottom: none;
}
.block-language-wrapper .dropdown-menu > li > a img {
	margin: 0px 6px 0px 0px;
	height: 15px;
}
.block-language-wrapper .dropdown-menu {
	border-bottom: 3px solid #ad0800;
	border-radius: 0px;
	min-width: 0px;
}
.block-language-wrapper .dropdown-menu a {
	padding: 3px 10px 3px 10px;
}
.block-language-wrapper .dropdown-menu a:hover {
	color: #ad0800;
	background: none;
}
.block-currency-wrapper {
	display: inline-block !important;
	margin: 5px 0 0 18px;
}
.block-currency {
	background: none;
	box-shadow: none;
	border: none;
	color: #a6a6a6;
	font-family: DIN, Helvetica, Arial, sans-serif;
}
a.block-currency:hover {
	color: #ad0800;
	text-decoration: none;
}
a.block-currency:focus {
	color: #ad0800;
	text-decoration: none;
}
.block-currency label {
	font-weight: normal;
	padding: 0 5px;
	margin: auto;
}
.block-currency-wrapper .dropdown-menu>li {
	border-bottom: 1px #ccc solid;
	padding: 1px 0;
}
.block-currency-wrapper .dropdown-menu>li:last-child {
	border-bottom: none;
}
.block-currency-wrapper .dropdown-menu > li > a img {
	margin: 0 6px 0 0;
}
.block-currency-wrapper .dropdown-menu {
	border-bottom: 3px solid #ad0800;
	border-radius: 0;
	min-width: 0;
	z-index: 100000;
}
.block-currency-wrapper .dropdown-menu a {
	padding: 3px 15px;
}
.block-currency-wrapper .dropdown-menu a:hover {
	color: #ad0800;
	background: none;
}
/* 3b. Toplink */
.toplinks {
	font-family: 'Roboto', sans-serif;
	line-height: 1.3em;
	padding: 6px 0 3px 0px;
}
.toplinks .links {
	text-align: right;
}
.toplinks .links div {
	display: inline-block;
	text-align: right;
}
.toplinks div.links div a {
	color: black;
	display: inline-block;
	padding: 0px;
	color: #a6a6a6;
	font-size: 14px;
	padding-left: 20px;
}
.toplinks div.links div a:hover {
	color: #ad0800;
	text-decoration: none;
}
.toplinks div.links .phone {
	font-weight: bold;
	font-size: 14px;
	margin-left: 20px;
	color: #a6a6a6;
}
.toplinks div.links .phone:before {
	content: "\f095";
	font-family: FontAwesome;
	margin-right: 7px;
}
/* search */
.search-box {
	width: 100%;
	margin: 22px auto 0px;
	float: right;
	position: relative;
	background: #fff url("../images/search-icon.png") no-repeat scroll 10px 7px;
	padding: 0px 0px 0px 37px;
	border-radius: 2px;
	border: 1px solid #ddd;
	border-right: none;
}
.cate-dropdown {
	border: medium none;
	float: left;
	height: 28px;
	padding: 5px;
	width: 150px;
	line-height: 29px;
	background: #fafafa;
}
.cate-dropdown option {
	padding: 4px 8px;
}
.cate-dropdown:focus {
	float: left;
	width: 150px;
	height: 28px;
	line-height: 29px;
	padding: 5px;
	border: none;
	background: #fafafa;
}
.search1 {
	margin: 0;
	width: 64%;
	font-size: 14px;
	height: 28px;
	color: #333;
	border: none;
	padding: 0 10px;
	outline: none;
	float: left;
	border-right: none;
}
.search-btn-bg {
	background-color: #ad0800;
	border: 1px solid #ad0800;
	border-radius: 0 1px 1px 0;
	color: #fff;
	cursor: pointer;
	font-weight: bold;
	height: 30px;
	line-height: 17px;
	padding: 6px 20px;
	position: absolute;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	margin-top: -1px;
	letter-spacing: 1px;
	margin-left: 120px;
}
/* 3c. Top Shopping Cart */
.glyphicon-shopping-cart:before {
	font-size: 14px;
	color: #fdd922;
	margin-right: 6px;
}
.mini-products-list .product-image {
	float: left;
	margin-right: 8px;
}
.mini-products-list .detail-item {
	margin-left: 92px;
}
.top-cart-content .product-name {
	margin: 0;
	line-height: 1;
	padding: 0 40px 5px 0;
}
.top-cart-content .product-name a {
	font-size: 14px;
	line-height: normal;
	font-weight: normal;
	color: #333;
}
.top-cart-content .product-name a:hover {
	color: #000000;
	text-decoration: none;
}
.top-cart-contain .price {
	color: #4d4d4d;
	font-weight: bold;
	text-transform: uppercase;
}
.top-subtotal .price {
	float: right;
}
.top-cart-contain .product-details .price {
	color: #f23534;
	width: auto;
	float: none;
	font-weight: normal;
	padding-left: 0px;
	font-size: 14px;
}
.mini-cart {
	text-align: left;
	cursor: pointer;
	margin: 0px 0px 0px 0px;
}
.mini-cart .basket a {
	padding: 0 0 5px 15px;
	margin: 0 0 0 4px;
	display: block;
	min-width: 55px;
	text-align: center;
	position: relative;
	z-index: 100;
	float: left;
	color: #000;
	line-height: normal;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}
.mini-cart .basket a strong {
	display: inline-block;
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	line-height: 1.6em
}
.icon-cart:before {
	color: #000;
	content: '\f07a';
	font-size: 19px;
	height: 22px;
	line-height: 20px;
	padding-right: 7px;
	text-align: center;
	width: 25px;
	border-radius: 2px;
	float: left;
}
.mini-cart .basket a:hover {
	text-decoration: none;
}
.mini-cart .basket .title {
	color: #000;
	font-size: 14px;
	font-weight: bold;
	line-height: 1em;
}
.mini-cart .basket .cart-box {
	display: inline-block;
}
.mini-cart .basket .cart-box #cart-total {
	color: #fff;
	text-transform: none;
	margin: 0px;
	display: inline-block;
	background: #ad0800;
	width: 20px;
	height: 20px;
	line-height: 21px;
	text-align: center;
	margin-left: 8px;
	border-radius: 30px;
	font-size: 14px;
	font-weight: bold;
}
.top-cart-contain {
	color: #333;
	display: block;
	float: right;
	margin: 0px 0px 0px 0px;
	padding: 0;
	right: 0;
	margin-top: 25px;
}
.top-cart-content .empty {
	text-align: left;
	color: #333;
}
.top-cart-content {
	display: none;
	width: 300px;
	position: absolute;
	top: 50px;
	right: 15px;
	background: #fff;
	padding: 0;
	text-align: left;
	box-shadow: 0 0 15px -5px rgba(0, 0, 0, 0.4);
	z-index: 10000;
}
.top-cart-content .noitem {
	padding: 10px 10px 0;
}
.top-subtotal {
	color: #333333;
	font-size: 14px;
	font-weight: bold;
	padding: 12px 15px;
	text-align: left;
	text-transform: none;
	border-bottom: 1px #ddd solid;
	border-top: 1px #ddd solid;
	font-family: 'Roboto', sans-serif;
}
.top-cart-content .block-subtitle {
    background: none repeat scroll 0 0 #f8f8f8;
    border-bottom: 1px solid #f1f1f1;
    color: #3d3d3d;
    font-family: "Roboto",sans-serif;
    font-size: 14px;
    font-weight: 500;
    overflow: hidden;
    padding: 8px 12px;
    text-align: left;
    text-transform: none;
}
ul#cart-sidebar {
	padding: 8px 0px 0 0px;
	margin: 0px;
}
.top-cart-content li {
	list-style: none;
}
.top-cart-content li.item {
	border-bottom: 1px solid #eee;
	margin: 5px 0px 10px;
	overflow: hidden;
	padding: 0px 0px 10px 0px;
}
.top-cart-content li.item.last {
	margin: 0px;
	border-bottom: 0px #eee solid;
}
.top-cart-content .product-details {
	color: #333333;
	position: relative;
	text-align: left;
	padding: 0px;
}
.mini-products-list .detail-item .product-details-bottom .price {
	color: #4d4d4d;
	font-size: 14px;
	display: list-item;
	margin-bottom: 5px;
}
.mini-products-list .detail-item .product-details-bottom .label {
	font-weight: bold;
	vertical-align: middle;
}
.mini-products-list .detail-item .product-details-bottom strong {
	font-weight: normal;
}
.top-cart-content .product-details .btn-edit {
	position: absolute;
	right: 22px;
	top: 6px;
}
.top-cart-content .actions {
	padding: 10px 12px;
	margin: 0;
	overflow: hidden;
	background: #f5f5f5;
}
.mini-cart .actions .btn-checkout:before {
	content: "\e013";
	font-family: 'Glyphicons Halflings';
	font-size: 14px;
	padding-right: 8px;
	font-weight: normal;
}
.mini-cart .actions .btn-checkout {
	background: #18a4d8;
	color: #fff;
	font-size: 14px;
	padding: 6px 12px;
	font-family: 'Roboto', sans-serif;
	text-align: left;
	cursor: pointer;
	text-decoration: none;
	float: right;
	transition: color 300ms ease-in-out 0s, background-color 300ms ease-in-out 0s, background-position 300ms ease-in-out 0s;
	border: 1px solid #18a4d8;
	font-weight: 500;
	text-transform: uppercase;
	line-height: normal;
}
.mini-cart .actions .btn-checkout:hover {
	background: #222;
	border: 1px solid #222;
	color: #fff;
}
.mini-cart .actions .view-cart {
	background: #ad0800;
	color: #fff;
	font-size: 14px;
	padding: 6px 12px;
	font-family: 'Roboto', sans-serif;
	text-align: left;
	cursor: pointer;
	text-decoration: none;
	float: left;
	transition: color 300ms ease-in-out 0s, background-color 300ms ease-in-out 0s, background-position 300ms ease-in-out 0s;
	border: 1px solid #ad0800;
	font-weight: 500;
	text-transform: uppercase;
	line-height: normal;
}
.mini-cart .actions .view-cart:hover {
	background: #222;
	border: 1px solid #222;
	color: #fff;
}
.mini-cart .actions .view-cart:before {
	content: '\e116';
	font-family: 'Glyphicons Halflings';
	font-size: 14px;
	padding-right: 8px;
	font-weight: normal;
}
.mini-cart .actions .button {
	display: inline-block;
	width: 100px;
	text-align: center;
	margin-bottom: 3px;
	padding: 8px 10px 6px;
	text-transform: none;
	border: none;
	font-size: 14px;
}
.mini-cart .button.btn-checkout {
	background: none;
	color: #fff;
	font-size: 14px;
	padding: 8px 16px;
	font-family: 'Roboto', sans-serif;
	text-align: left;
	cursor: pointer;
	text-decoration: none;
	float: left;
	transition: color 300ms ease-in-out 0s, background-color 300ms ease-in-out 0s, background-position 300ms ease-in-out 0s;
	border: 1px solid #fff;
	font-weight: bold;
	text-transform: uppercase;
}
.mini-cart > .button {
	color: #000;
	font-size: 14px;
	font-weight: 300;
	text-shadow: none;
	border: none;
	border-radius: 0;
	box-shadow: none;
	background: none;
}
.glyphicon-remove {
	position: absolute;
	right: -10px;
}
.glyphicon-pencil {
	position: absolute;
	right: 10px;
}
a.glyphicon-remove, a.glyphicon-pencil {
	color: #999;
	font-size: 14px;
}
a.glyphicon-remove:hover, a.glyphicon-pencil:hover {
	color: #333;
	text-decoration: none;
}
/*menu*/


/*==Style cơ bản cho website==*/
.menu1 {
  font-family: sans-serif;
  color: #333;
   margin: 0;
  padding: 0;
}

/*==Style cho menu===*/
#menu1 ul {
  background: #1F568B;
  list-style-type: none;
  text-align: center;
}
#menu1 li {
  color: #f1f1f1;
  display: inline-block;
  width: 120px;
  height: 40px;
  line-height: 40px;
  margin-left: -5px;
}
#menu1 a {
  text-decoration: none;
  color: #fff;
  display: block;
}
#menu1 a:hover {
  background: #F1F1F1;
  color: #333;
}

/*==Dropdown Menu==*/
.sub-menu1 {
  display: none;
  position: absolute;
}
#menu1 li {
  position: relative;
}
#menu1 li:hover .sub-menu1 {
  display: block;
  z-index: 100;
}
.sub-menu1 li {
  margin-left: 0 !important;
}

/*==Menu cấp 3==*/
.sub-menu1 > ul {
  display: none !mportant;
}



#magik-slideshow {
	border: none;
	padding: 0;
	margin: 0px auto;
}
#magik-slideshow .RHS-banner {
/*float: right;
	width: 360px;*/
}
#magik-slideshow .RHS-banner .add {
	margin-bottom: 12px;
	position: relative;
}
#magik-slideshow .RHS-banner .add a:before {
	overflow: hidden;
	position: absolute;
	top: 0;
	content: "";
	z-index: 100;
	width: 100%;
	height: 100%;
	left: 0;
	opacity: 0;
	transition: all 0.3s ease 0s;
	transform: scale(0.5) rotateY(180deg);
	background-image: url(../images/plus-img.png);
	background-repeat: no-repeat;
	background-position: center;
	background-color: #666;
}
#magik-slideshow .RHS-banner .add a:hover::before {
	visibility: visible;
	opacity: 0.6;
	transform: scale(1) rotateY(0deg);
}
.rev_slider_wrapper {
	position: relative;
}
.rev_slider_wrapper >ul {
	visibility: hidden;
}
.rev_slider {
	position: relative;
	overflow: visible;
}
.rev_slider img {
	max-width: none !important;
	margin: 0px;
	padding: 0px;
	border-width: 0px;
	border: none;
	visibility: visible !important;
}
.rev_slider .no-slides-text {
	font-weight: bold;
	text-align: center;
	padding-top: 80px;
}
.rev_slider ul {
	margin: 0px;
	padding: 0px;
	list-style: none !important;
	list-style-type: none;
	background-position: 0px 0px;
}
.rev_slider ul li, .rev_slider >ul >li, .rev_slider >ul >li:before {
	list-style: none !important;
	position: absolute;
	visibility: hidden;
	margin: 0px !important;
	padding: 0px !important;
	overflow-x: visible;
	overflow-y: visible;
	list-style-type: none !important;
	background-image: none;
	background-position: 0px 0px;
	text-indent: 0em;
}
.rev_slider .tp-caption, .rev_slider .caption {
	position: absolute;
	visibility: hidden;
}
.tp-simpleresponsive img {
	max-width: none;
}
/* ADDED FOR SLIDELINK MANAGEMENT */
.tp-caption {
	z-index: 1;
}
.tp_inner_padding {
	box-sizing: border-box;
	max-height: none !important;
}
.tp-hide-revslider, .tp-caption.tp-hidden-caption {
	visibility: hidden !important;
	display: none !important;
}
.noFilterClass {
}
.fullscreen-container {
	width: 100%;
	position: relative;
	padding: 0;
	margin: auto;
}
.fullwidthbanner-container {
	width: 100%;
	position: relative;
	padding: 0;
	overflow: hidden;
	margin: auto;
}
.fullwidthbanner-container .fullwidthabanner {
	width: 100%;
	position: relative;
	margin: auto;
}
.tp-simpleresponsive .slotholder *, .tp-simpleresponsive img {
}
.tp-simpleresponsive .caption, .tp-simpleresponsive .tp-caption {
	position: absolute;
}
.tp-caption.ExtraLargeTitle {
	line-height: 70px;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
	color: #fff;
	text-decoration: none;
	background-color: transparent;
	padding: 0px 0px 0px 0px;
	border-radius: 0px 0px 0px 0px;
	text-transform: uppercase;
	font-size: 24px;
}
.tp-caption.LargeTitle {
	font-weight: bold;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	color: #fff;
	text-decoration: none;
	background-color: transparent;
	padding: 0px 0px 0px 0px;
	font-size: 72px;
}
.tp-caption.LargeTitle span {
	color: #fff
}
.view-more {
	padding: 10px 40px;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 500;
	color: #3d3d3d;
	border: 2px #3d3d3d solid; background-color:#fff;
	font-family: 'Roboto', sans-serif;
}
.buy-btn {
	padding: 10px 40px;
	background-color: #ad0800;
	border: 2px #7a0202 solid;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 500;
	color: #fff;
	margin-left: 10px;
	font-family: 'Roboto', sans-serif;
}
.view-more:hover {
	color: #3d3d3d;
}
.buy-btn a:hover{color: #fff;}
.tp-caption.Title {
	font-size: 16px;
	line-height: 20px;
	font-weight: normal;
	text-transform: none;
	font-family: 'Open Sans';
	color: #fff;
	text-decoration: none;
	background-color: transparent;
	padding: 0px 0px 0px 0px;
	width: 500px
}
.black-text .tp-caption.Title {
	color: #fff;
}
.black-text .tp-caption.LargeTitle {
	color: #fff;
}
.black-text .tp-caption.ExtraLargeTitle {
	color: #fff;
}
.tp-caption.TitleOrange {
	font-size: 18px;
	line-height: 18px;
	font-weight: 300;
	text-transform: uppercase;
	font-family: 'Open Sans';
	color: rgb(248, 186, 117);
	text-decoration: none;
	background-color: transparent;
	padding: 0px 0px 0px 0px;
	border: 0px none rgb(255, 214, 88);
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-color: rgb(255, 214, 88);
	border-style: none;
	border-width: 0px;
	border-radius: 0px 0px 0px 0px;
}
 @media only screen and (min-width: 480px) and (max-width: 767px) {
.tp-button {
	padding: 4px 8px 3px;
	line-height: 25px !important;
	font-size: 11px !important;
	font-weight: normal;
}
a.tp-button {
}
#magik-slideshow .tp-rightarrow.default {
	opacity: 0;
}
#magik-slideshow:hover .tp-rightarrow.default {
	opacity: 0.9;
}
#magik-slideshow .tp-leftarrow.default {
	opacity: 0;
}
#magik-slideshow:hover .tp-leftarrow.default {
	opacity: 0.9;
}
}
 @media only screen and (min-width: 0px) and (max-width: 479px) {
.tp-button {
	padding: 2px 5px 2px;
	line-height: 20px !important;
	font-size: 10px !important;
}
a.tp-button {
}
#magik-slideshow .tp-rightarrow.default {
	opacity: 0;
}
#magik-slideshow:hover .tp-rightarrow.default {
	opacity: 0.9;
}
#magik-slideshow .tp-leftarrow.default {
	opacity: 0;
}
#magik-slideshow:hover .tp-leftarrow.default {
	opacity: 0.9;
}
}
/*	BUTTON COLORS	*/

.tp-button.green, .tp-button:hover.green, .purchase.green, .purchase:hover.green {
	background-color: #21a117;
	box-shadow: 0px 3px 0px 0px #104d0b;
}
.tp-button.blue, .tp-button:hover.blue, .purchase.blue, .purchase:hover.blue {
	background-color: #1d78cb;
	box-shadow: 0px 3px 0px 0px #0f3e68;
}
.tp-button.red, .tp-button:hover.red, .purchase.red, .purchase:hover.red {
	background-color: #cb1d1d;
	box-shadow: 0px 3px 0px 0px #7c1212;
}
.tp-button.orange, .tp-button:hover.orange, .purchase.orange, .purchase:hover.orange {
	background-color: #ff7700;
	box-shadow: 0px 3px 0px 0px #a34c00;
}
.tp-button.darkgrey, .tp-button.grey, .tp-button:hover.darkgrey, .tp-button:hover.grey, .purchase.darkgrey, .purchase:hover.darkgrey {
	background-color: #555;
	box-shadow: 0px 3px 0px 0px #222;
}
.tp-button.lightgrey, .tp-button:hover.lightgrey, .purchase.lightgrey, .purchase:hover.lightgrey {
	background-color: #888;
	box-shadow: 0px 3px 0px 0px #555;
}
/************************
	-	NAVIGATION	-
*************************/

/** BULLETS **/

.tpclear {
	clear: both;
}
.tp-bullets {
	z-index: 1000;
	position: absolute;
	opacity: 1;
}
.tp-bullets.hidebullets {
	opacity: 0;
}
.tp-bullets.simplebullets.round .bullet.last {
	margin-right: 3px;
}
.tp-bullets.simplebullets.round-old .bullet.last {
	margin-right: 0px;
}
/**	SQUARE BULLETS **/

.tp-bullets.simplebullets.square .bullet.last {
	margin-right: 0px;
}
/**	SQUARE BULLETS **/

.tp-bullets.simplebullets.square-old .bullet.last {
	margin-right: 0px;
}
/** navbar NAVIGATION VERSION **/

.tp-bullets.simplebullets.navbar .bullet.first {
	margin-left: 0px !important;
}
.tp-bullets.simplebullets.navbar .bullet.last {
	margin-right: 0px !important;
}
/** navbar NAVIGATION VERSION **/

.tp-bullets.simplebullets.navbar-old .bullet.first {
	margin-left: 0px !important;
}
.tp-bullets.simplebullets.navbar-old .bullet.last {
	margin-right: 0px !important;
}
.tp-bullets.simplebullets .bullet:hover, .tp-bullets.simplebullets .bullet.selected {
	background-position: top left;
}
.tp-bullets.simplebullets.round .bullet:hover, .tp-bullets.simplebullets.round .bullet.selected, .tp-bullets.simplebullets.navbar .bullet:hover, .tp-bullets.simplebullets.navbar .bullet.selected {
	background-position: bottom left;
}
/*************************************
	-	TP ARROWS 	-
**************************************/
.tparrows {
	opacity: 1;
}
.tparrows.hidearrows {
/*-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0;*/
}
.tp-leftarrow {
	z-index: 100;
	cursor: pointer;
	position: relative;
	background: url(../images/left-a.png) no-repeat top left;
	width: 40px;
	height: 40px;
}
.tp-rightarrow {
	z-index: 100;
	cursor: pointer;
	position: relative;
	background: url(../images/right-a.png) no-repeat top left;
	width: 40px;
	height: 40px;
}
.tp-leftarrow.navbar-old.thumbswitharrow {
	margin-right: 10px;
}
.tp-rightarrow.navbar-old.thumbswitharrow {
	margin-left: 0px;
}
.tp-leftarrow.default {
	z-index: 100;
	cursor: pointer;
	position: relative;
	background: rgba(0, 0, 0, 0.2) url(../images/left-a.png) no-repeat 10px 0;
	width: 40px;
	height: 45px;
	left: 0px !important;
}
.tp-rightarrow.default {
	z-index: 100;
	cursor: pointer;
	position: relative;
	background: rgba(0, 0, 0, 0.2) url(../images/right-a.png) no-repeat 10px 0;
	width: 40px;
	height: 45px;
	right: 0 !important;
}
.tp-leftarrow:hover, .tp-rightarrow:hover {
}
.tp-bullets.tp-thumbs {
	/*z-index: 1000; */
	position: absolute;
	padding: 3px;
	background-color: #fff;
	width: 500px;
	height: 50px; 			/* THE DIMENSIONS OF THE THUMB CONTAINER */
	margin-top: -50px;
	vertical-align: top;
	display: none;
}
.tp-bullets.tp-thumbs img {
	vertical-align: top;
}
.fullwidthbanner-container .tp-thumbs {
	padding: 3px;
	margin: auto -160px !important;
}
.tp-bullets.tp-thumbs .tp-mask {
	width: 500px;
	height: 50px;  			/* THE DIMENSIONS OF THE THUMB CONTAINER */
	overflow: hidden;
	position: relative;
}
.tp-bullets.tp-thumbs .tp-mask .tp-thumbcontainer {
	width: 500px;
	position: absolute;
}
.tp-bullets.tp-thumbs .bullet {
	width: 100px;
	height: 50px; 			/* THE DIMENSION OF A SINGLE THUMB */
	cursor: pointer;
	overflow: hidden;
	background: none;
	margin: 0;
	float: left;
}
.tp-bullets.tp-thumbs .bullet:hover, .tp-bullets.tp-thumbs .bullet.selected {
	opacity: 1;
}
.tp-thumbs img {
	width: 100%;
}
/************************************
		-	TP BANNER TIMER		-
*************************************/

.tp-bannertimer.tp-bottom {
	top: auto;
	bottom: 0px !important;
	height: 5px;
}
/******************************
	-	HTML5 VIDEO SETTINGS	-
********************************/

.vjs-tech {
	margin-top: 1px
}
.tp-caption .vjs-default-skin .vjs-big-play-button {
	left: 50%;
	top: 50%;
	margin-left: -20px;
	margin-top: -20px;
	width: 40px;
	height: 40px;
	border-radius: 5px;
	border: none;
	box-shadow: none;
	text-shadow: none;
	line-height: 30px;
	vertical-align: top;
	padding: 0px;
}
.tp-caption .vjs-default-skin .vjs-big-play-button:before {
	position: absolute;
	top: 0px;
	left: 0px;
	line-height: 40px;
	text-shadow: none !important;
	color: #fff;
	font-size: 18px;
}
.tp-caption .vjs-default-skin:hover .vjs-big-play-button, .vjs-default-skin .vjs-big-play-button:focus {
	box-shadow: none;
}
.tp-simpleresponsive img {
}
.tp-caption img {
	background: transparent;
}
.tp-simpleresponsive ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.tp-simpleresponsive >ul li {
	list-style: none;
	position: absolute;
	visibility: hidden;
}
/*  CAPTION SLIDELINK   **/
.tp-leftarrow.default, .tp-rightarrow.default {
	font-family: FontAwesome;
	font-size: 11px;
	font-weight: normal;
	height: 45px;
	width: 40px;
	text-align: center;
	line-height: 44px;
}
.forcefullwidth_wrapper_tp_banner, .fullwidthbanner-container {
	max-width: 100%;
	left: 0 !important;
	margin: auto !important;
}
#magik-slideshow .col-lg-8 {
	padding-right: 0px;
}
.duoislide{
	margin-top: 30px;
}
/*danhsachsanpham*/
.chitiet{
	
	margin-top: 30px;
}
   : root{
   	--main-color:#e74c3c;}
.product-grid{
	font-family: tahoma;
	position: relative;
}
.product-grid .product-image{
	overflow: hidden;
	position: relative;
	margin-top: 10px;
}
.product-grid .product-image:before{
	content: "";
	background: rgba(0,0,0,0.3);
	width: 100%;
	height: 100%;
	opacity: 0;
	position: absolute;
	top:0;
	left: 0;
	z-index: 1;
	transition: all 0.4s ease-out 0s;
}
.product-grid:hover .product-image:before{
	opacity: 1;
}
.product-grid .product-image a{
	display: block;
}
.product-grid .product-image img{
	width: 100%;
	height: auto;
}
.product-image .pic-1{
	opacity: 1;
	backface-visibility: hidden;
	transition: all 0.4s ease-out 0s;

}
.product-grid:hover .product-image .pic-1{
	opacity: 0;
}
.product-image .pic-2{
	width: 100%;
	height: 100%;
	opacity: 0;
	backface-visibility: hidden;
	transform: scale(3);
	position: absolute;
	top: 0;
	left: 0;
	transition: all 0.4s ease-out 0s;

}
.product-grid:hover .product-image .pic-2{
	opacity: 1;
	transform: scale(1);
}
.product-image .product-trend-label,
.product-image .product-discount-label{
	content: "";
	color: green;
	background-color: orange;
	
	font-size: 12px;
	line-height: 28px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	padding: 0 7px;
	position: absolute;
	top: 12px;
	left: 12px;
	z-index: 3;

}
.product-image .product-discount-label{
	background-color: var(--main-color);
	left: auto;
	right: 12px;
}
.product-grid .social{
	padding:0;
	margin: 0;
	list-style: none;
	transform: translateY(-50%);
	position: absolute;
	top: 50%;
	left: 10px;
	z-index: 4;
}
.product-grid .social li{
	margin: 0 0 12px;
	opacity: 0;
	transform: translateX(-60px);
	transition: transform 0.3s ease-out 0s;
}
.product-grid:hover .social li{
	opacity: 1;
	transform: translateX(0);
}
.product-grid:hover .social li:nth-child(2){
	transition-delay: 0.1s;
}
.product-grid:hover .social li:nth-child(3){
	transition-delay: 0.2s;
}
.product-grid:hover .social li:nth-child(4){
	transition-delay: 0.3s;
}
.product-grid .social li a{
	color: white;
	font-size: 22px;
	transition: all 0.3s;
}
.product-content{
	text-align: center;
}
/*/danhsachsanpham*/
/*sao*/
.no-rating {
	margin: 0;
}
.no-rating a {
	color: #000;
}
.ratings {
	font-size: 14px;
	line-height: normal;
	margin: 2px 0;
}
.ratings strong {
	float: left;
	margin: 1px 3px 0 0;
}
.category-products ul.products-grid li.item .ratings .rating-links {
	display: none
}
.ratings .rating-links {
	margin: 0;
	display: none;
}
.ratings .rating-links a {
	margin: 0;
	text-decoration: none;
	color: #666;
	font-size: 12px
}
.ratings .rating-links .separator {
	margin: 0 2px;
}
.ratings dt {
}
.ratings dd {
}
.rating-box {
	width: 76px;
	height: 15px;
	font-size: 0;
	line-height: 0;
	background: url(../images/bkg_rating.png) 0 0 repeat-x;
	text-indent: -999em;
	overflow: hidden;
}
.rating-box .rating {
	float: left;
	height: 15px;
	background: url(../images/bkg_rating.png) 0 100% repeat-x;
}
.ratings .rating-box {
	margin-right: 8px;
	display: inline-block;
}
.ratings .amount {
}
.ratings-table th, .ratings-table td {
	font-size: 14px;
	line-height: 1.15;
	padding: 3px 0;
}
.ratings-table th {
	font-weight: 900;
	padding-right: 8px;
}
/*/sao*/
/*muangay*/
.muangay{
		
padding-top: 2px;

	}
	#muangay1{
		text-decoration: none;
		background-color:#dc4a38;
		color: #fff;
		padding: 7px 15px;
		border-radius: 10px;
		transition: color 0.5s, background 0.5s;
	}
	#muangay1:hover{
		color: white;
		background-color: green;

	}
/*/muangay*/
h5{
	text-transform: uppercase;
	
}
header h5{
	animation: doimauchu ease 2s infinite;

}
@keyframes doimauchu{
	from{
		color: green;
	}
	to{
		color: red;
	}
	to{
		color: purple;
	}
}
.duoisanpham{
	margin-top: 20px;


}
.example2{
            border:1px solid;
            border-color:#009900;        /* Green */
            width: 1140px;
            height: 300px;
           margin: auto;
         }
.donghonam{
	display: flex;
}
.aa{
	margin-left: 130px;
	margin-top: 30px;
}
.aa1{
	margin-right: 50px;
}
.aa2{
	margin-top: 60px;
}
.khoi{
margin:auto;
	padding: 5px;
width: 1140px;
height: 300px;
	box-sizing: border-box;
	overflow: hidden;
}
.khoi img{
	width: 100%;
	height: 100%;
	transition: 1s;
	

}
.khoi:hover img{
	transform: scale(1.5);
	transition: 1s;

}
.trangchudoi-duoi{
	display: flex;
	margin-top: 10px;
}
.trangchudoi{
	
 margin: auto;
}
.example4{
            border:1px solid;
            border-color:#009900;        /* Green */
           background: #dddd;
            height: 420px;
           width: 340px;


         }
.img{
		
		}
		#slide{
			 padding-top: 5px;
			overflow: hidden; margin: auto;
			text-align: center;
		}

.sanphamnoibat{
	
	border: 1px solid;
	border-color: #009900;
	height: 420px;
	width: 550px;
}
#category {
	width: 100%; 
}
#category .add-ons {
	width: 100%;
	padding-bottom: 30px;
}
#category .add-ons .container {
	max-width: 1140px;
	margin: auto;
}
#category .add-ons .container ul {
	padding: 0px;
	margin: 0px 0px 0px 40px;
	list-style-type: none;
	display: flex;
}
#category .add-ons .container ul li {
	display: flex;
	width: 100%;
}
#category .add-ons .container ul li i {
	font-size: 30px;
}
#category .add-ons .container ul li h3 {
	font-size: 16px;
	font-weight: 900;
	margin-left: 10px;
}
#category .add-ons .container ul li p {
	font-size: 13px;
	margin-left: 10px;
}
#category .category-product {
	width: 100%;
	line-height: 70px;
	text-align: center;
	font-size: 20px;
	font-weight: bolder;
}
#category .category-new {
	margin: auto;
	max-width: 1140px;
	line-height: 30px;
	text-align: center;
}
#category .category-new ul {
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}
#category .category-new  ul.first-category  li {
	border-bottom: 1px solid #d7d7d8;
}
#category .category-new ul li .new-arrivals {
	max-width: 120px;
}
#category .category-new ul li .new-arrivals ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
#category .category-new ul li .new-arrivals ul li {
	border-bottom: 1px solid #000;
}
#category .category-new ul li .new-arrivals ul li a {
	text-decoration: none;
	color: #000;
	font-size: 16px;
}
#category .category-new ul li .new-arrivals-search ul {
	line-height: 50px;
	padding: 0px;
	margin: 0px;
	list-style-type: none; 
}
#category .category-new ul li .new-arrivals-search ul li a{
	text-decoration: none;
	color: #000;
	font-size: 15px;
	margin-top: 10px;
}
.owl-carousel.owl-loaded {
	position: relative;
}
button.owl-prev {
	position: absolute;
	top: 40%;
	left: 15px;
}
button.owl-next {
	position: absolute;
	top: 40%;
	right: 15px;
}
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
    background: #dbdedf !important;
    height: 40px;
    border-radius: 50%;
    width: 40px;
    border: none;
    outline: none;
    font-size: 28px;
}
button.owl-dot.active {
	display: none;
}
button.owl-dot {
	display: none;
}
#category .owl-carousel .items .hover-img {
	overflow: hidden;
	height: 100%;
}
#category .owl-carousel .items .title {
	margin-top: 15px;
}
#category .owl-carousel .items .hover-img img {
	height: 100%;
	width: 100%;
	display: block;
	transition: all ease-in-out 2s;
	transform: scale(1);
}
#category .owl-carousel .items .hover-img:hover img {
	transform: scale(1.1);
}
#category .owl-carousel .items .title a:hover {
	font-weight: 600;
}
#category .owl-carousel .items .ratting {
	margin-top: -15px;
}
#category .owl-carousel .items .price {
	margin-top: -17px;
	font-size: 14.5px;
}
#category .owl-carousel .items p a {
	text-decoration: none;
	color: #000;
}

#category .see-more {
	width: 70px;
	margin: auto;
	line-height: 20px;
	text-align: center;
	padding-bottom: 20px;
}
#category .see-more ul {
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}
#category .see-more ul li {
	border-bottom: 1px solid #000;
}
#category .see-more a {
	text-decoration: none;
	color: #000;
	font-size: 14px;
}
#category .see-more a:hover {
	font-weight: 600;
}
#category .pr {
	height: 40px;
	width: 100%;
}
#category .pr ul {
	padding: 10px 10px;
	margin: 0px;
	list-style-type: none;
}
#category .pr ul li {
	border-bottom: 1px solid #eaeaea;
}
#category-news {
	width: 100%;
}
#category-news .category-new {
	margin: auto;
	max-width: 1140px;
	line-height: 30px;
	text-align: center;
}
#category-news .category-new ul {
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}
#category-news .category-new  ul.first-category  li {
	border-bottom: 1px solid #d7d7d8;
}
#category-news .category-new ul li .new-arrivals {
	max-width: 120px;
}
#category-news .category-new ul li .new-arrivals ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
#category-news .category-new ul li .new-arrivals ul li {
	border-bottom: 1px solid #000;
}
#category-news .category-new ul li .new-arrivals ul li a {
	text-decoration: none;
	color: #000;
	font-size: 16px;
}
#category-news .category-new ul li .new-arrivals-search ul {
	line-height: 50px;
	padding: 0px;
	margin: 0px;
	list-style-type: none; 
}
#category-news .category-new ul li .new-arrivals-search ul li a{
	text-decoration: none;
	color: #000;
	font-size: 15px;
	margin-top: 10px;
}
#category-news .menu ul {
	padding: 0px;
	margin: 0px;
	list-style-type: none;
	display: flex;
}
#category-news .menu ul li {
	padding-right: 25px;
}
#category-news .menu ul li a {
	text-decoration: none;
	color: #000;
}
#category-news .container {
	max-width: 1140px;
	margin: auto;
	margin-top: 20px;
}
#category-news .menu .content {
	max-width: 350px;
}
#category-news .menu .content img {
	max-width: 350px;
}
#category-news .menu .content h3 {
	margin-top: 10px;
	font-size: 19px;
	font-weight: 600;
}
#category-news .menu .content h3:hover {
	font-weight: 600;
}
#category-news .menu .content p {
	font-size: 14px;
}
#category-news .see-more {
	width: 70px;
	margin: auto;
	line-height: 20px;
	text-align: center;
	padding-bottom: 20px;
}
#category-news .see-more ul {
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}
#category-news .see-more ul li {
	border-bottom: 1px solid #000;
}
#category-news .see-more a {
	text-decoration: none;
	color: #000;
	font-size: 14px;
}
#category-news .see-more a:hover {
	font-weight: 600;
}
#category-news .pr {
	height: 40px;
	width: 100%;
}
#category-news .pr ul {
	padding: 10px 10px;
	margin: 0px;
	list-style-type: none;
}
#category-news .pr ul li {
	border-bottom: 1px solid #eaeaea;
}
.khoi1{

	box-sizing: border-box;
	overflow: hidden;
}
.khoi1 img{
	width: 100%;
	height: 100%;
	transition: 1s;
	

}
.khoi1:hover img{
	transform: scale(1.5);
	transition: 1s;

}
/*footer*/
.footer {
	background: none repeat scroll 0 0 #710303;
}
.footer-top {
	background-color: #ad0800;
	clear: both;
	margin-bottom: 20px;
	overflow: hidden;
	padding: 15px 0;
}
.footer-middle {
	margin: auto;
	margin-bottom: 20px;
	overflow: hidden;
	padding-top: 35px;
}
.footer-middle .payment-accept {
	margin-top: 15px;
}
.footer-middle .payment-accept img {
	border: 2px #fff solid
}
.footer-middle .col-md-3, .footer-middle .col-md-2 {
	margin: 5px auto;
}
.footer a:hover {
	text-decoration: none;
}
.footer-bottom {
	margin: auto;
	overflow: hidden;
	padding: 15px 0 15px;
}
.footer-bottom a {
	color: #e99995;
}
.footer-bottom a:hover {
	text-decoration: none;
}
.contacts-info address {
	display: block;
	margin: auto;
	font-style: normal;
	line-height: 1.5em;
	color: #fff;
	padding-top: 5px;
	margin-top: 10px;
	text-align: left;
	padding-bottom: 5px;
	margin-bottom: 7px;
	font-size: 14px;
	border: none;
}
.footer-logo {
	text-align: left;
	margin: 10px 0;
}
.footer a, .footer p {
	color: #e99995;
	font-size: 14px;
	padding-bottom: 5px;
	padding-top: 5px;
}
.payment-accept img {
	margin: 0px 10px 8px 0px;
	width: 50px;
}
.footer-middle h4 {
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: bold;
	margin: 0;
	padding: 0 0 10px;
	text-transform: uppercase;
	letter-spacing: 1px
}
.footer-middle ul.links {
	margin: auto;
	padding: 0px;
}
.footer-middle .links li {
	list-style: none;
	padding: 5px 0px;
}
.footer-middle .links li a {
	color: #e99995;
	transition: color 300ms ease-in-out 0s, background-color 300ms ease-in-out 0s, background-position 300ms ease-in-out 0s;
}
.footer-middle .links li a:hover {
	color: #fff;
	text-decoration: none;
}
.footer-middle .links li a:before {
	content: "\f105";
	font-family: FontAwesome;
	font-size: 14px;
	display: inline-block;
	cursor: pointer;
	line-height: 20px;
	color: #e99995;
	margin-right: 5px;
}
.add-icon:before {
	content: "\f041";
	font-family: FontAwesome;
	font-size: 15px;
	color: #7a0202;
	height: 35px;
	width: 35px;
	line-height: 35px;
	display: inline-block;
	float: left;
	font-style: normal;
	text-align: center;
	margin-right: 10px;
	border-radius: 30px;
	border-radius: 25px;
	background: #fff
}
.email-icon:before {
	content: "\f0e0";
	font-family: FontAwesome;
	font-size: 14px;
	color: #7a0202;
	height: 35px;
	width: 35px;
	margin-right: 5px;
	line-height: 35px;
	display: inline-block;
	float: left;
	font-style: normal;
	text-align: center;
	margin-right: 10px;
	background: #fff;
	border-radius: 25px
}
.phone-icon:before {
	content: "\f095";
	font-family: FontAwesome;
	font-size: 15px;
	color: #7a0202;
	height: 35px;
	width: 35px;
	margin-right: 5px;
	line-height: 35px;
	display: inline-block;
	float: left;
	font-style: normal;
	text-align: center;
	margin-right: 10px;
	background: #fff;
	border-radius: 25px
}
.email-footer {
	overflow: hidden;
	margin-top: 12px;
	font-size: 14px;
}
.email-footer a {
	font-size: 14px;
	line-height: 35px;
	color: #e99995
}
.phone-footer {
	overflow: hidden;
	font-size: 14px;
	line-height: 35px;
	color: #fff;
	margin-bottom: 10px;
	margin-top: 12px;
}
.coppyright {
	color: #e99995;
}
.footer-bottom .company-links ul {
	padding: 0px;
}
.footer-bottom .company-links li {
	display: inline-block;
	margin-left: 20px;
	list-style: none;
	float: right;
}
/*/footer*/
/*icon facebook google*/
.social .fb a:before {
	content: "\f09a";
	font-family: FontAwesome;
}
.social .fb a {
	background: #3C5B9B;
	font-size: 18px;
	line-height: 35px;
	display: inline-block;
	width: 35px;
	height: 35px;
	color: #fff;
	text-align: center;
	padding: 0;
}
.social .fb a:hover {
	background: #3C5B9B;
}
.social .tw a:before {
	content: "\f099";
	font-family: FontAwesome;
}
.social .tw a {
	background: #359BED;
	font-size: 18px;
	line-height: 35px;
	display: inline-block;
	width: 35px;
	height: 35px;
	color: #fff;
	text-align: center;
	padding: 0;
}
.social .tw a:hover {
	background: #359BED;
}
.social .googleplus a:before {
	content: "\f0d5";
	font-family: FontAwesome;
}
.social .googleplus a {
	background: #E33729;
	font-size: 18px;
	line-height: 35px;
	display: inline-block;
	width: 35px;
	height: 35px;
	color: #fff;
	text-align: center;
	padding: 0;
}
.social .googleplus a:hover {
	background: #E33729;
}
.social .rss a:before {
	content: "\f09e";
	font-family: FontAwesome;
}
.social .rss a {
	content: "\f09e";
	font-family: FontAwesome;
	background: #FD9F13;
	font-size: 18px;
	line-height: 35px;
	display: inline-block;
	width: 35px;
	height: 35px;
	color: #fff;
	text-align: center;
	padding: 0;
}
.social .rss a:hover {
	background: #FD9F13;
}
.social .pintrest a:before {
	content: "\f0d3";
	font-family: FontAwesome;
}
.social .pintrest a {
	content: "\f0d3";
	font-family: FontAwesome;
	background: #cb2027;
	font-size: 18px;
	line-height: 35px;
	display: inline-block;
	width: 35px;
	height: 35px;
	color: #fff;
	text-align: center;
	padding: 0;
}
.social .pintrest a:hover {
	background: #cb2027;
}
.social .linkedin a:before {
	content: "\f0e1";
	font-family: FontAwesome;
}
.social .linkedin a {
	content: "\f0e1";
	font-family: FontAwesome;
	background: #027ba5;
	font-size: 18px;
	line-height: 35px;
	display: inline-block;
	width: 35px;
	height: 35px;
	color: #fff;
	text-align: center;
	padding: 0;
}
.social .linkedin a:hover {
	background: #027ba5;
}
.social .youtube a:before {
	content: "\f167";
	font-family: FontAwesome;
}
.social .youtube a {
	background: #F03434;
	font-size: 18px;
	line-height: 35px;
	display: inline-block;
	width: 35px;
	height: 35px;
	color: #fff;
	text-align: center;
	padding: 0;
}
.social .youtube a:hover {
	background: #F03434;
}
.social {
	position: fixed;
	z-index: 10;
	right: 0px;
	bottom: 0
}
.social ul {
	float: left;
	margin: 0px;
	list-style: none;
	padding: 0px;
}
.social ul li {
	margin: 0px 0px 0px 7px;
	display: block;
}
.social a {
	transition: background 400ms ease-in-out;
}
 #myBtn{
            cursor: pointer;
            padding: 9px 7px;
           background: red;
            color: yellow;
            position:fixed;
            bottom: 15px;
            left: 20px;
            z-index: 99;
            animation-name:move;
            animation-duration:3s;
            animation-iteration-count:infinite;
            border: none;
        }
        @keyframes move{
            0%{
                 bottom: 15px;
                 left: 20px;
                background:red;
            }
            50%{
                bottom: 80px;
                left: 20px;
                background:purple;
            }
            
            }
            100%{
                 bottom: 15px;
                 left: 20px;
                background:red;
            }
        }